# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.ruff_cache/

# uv-managed virtual environment
.venv/
.python-version

# JavaScript
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
